# Never upload raw or parsed health data
data/raw/
data/parsed/
db/health.db
db/health_records.db
db/health_records.db-journal

# Encryption keys
user/encryption.key

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs
logs/
.coverage

# Ignore troubleshooting
AI_tests_reports/

# Ignore virtual environments
.venv/
.vscode/
env/

